p,
h1,
h2,
h3,
h4,
h5,
h6 tr,
td {
  font-family: "Lucida Console";
  color: green;
}

table {
  border: 1px solid green;
}

body {
  background-color: black;
}

#baseFacilities td {
  border: 1px solid green;
  height: 50px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
}
