<div class="modal-header" id="targetModal">
  <h4 class="modal-title">{{target.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" id="optionSelectDiv">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="rerouteConfirm()">Intercept</button>
</div>