<!--component html goes here -->
<div class="row">
  <div class="col">
    <select [(ngModel)]="speed" (ngModelChange)="timeChange()">
      <option *ngFor="let c of [15,30,60,300,900,3600]" [ngValue]="c">{{c}} seconds</option>
    </select>
    <div id="mapContainer" style="position:absolute;">
      <img src="https://www.worldmapsonline.com/images/giclee/satellite_image_maps/world_physical_pacific_giclee_lg.jpg" style="z-index:-1;position:absolute;"
        [height]="height" [width]="width">
      <div *ngFor="let item of objects" style="position:absolute" [style.left]="item.x+'px'" [style.top]="item.y+'px'">
        <img [src]="item.imgPath" (click)="item.click()">
      </div>
    </div>
  </div>
</div>
