<div class="row" (window:keydown)="keyPress($event.keyCode)">
  <div class="col">
    <select [(ngModel)]="speed" (ngModelChange)="timeChange()">
      <option *ngFor="let c of speedChoices" [ngValue]="c">{{c}} seconds</option>
    </select>
    <button [ngClass]="{'disabled btn-outline-dark': isWaitingForTarget, 'btn-outline-primary': !isWaitingForTarget, 'btn': true}" (click)="launchButtonClicked()" [disabled]="isWaitingForTarget">Dispatch Task Force</button>
    <div id="mapContainer" [style.cursor]="isWaitingForTarget?'crosshair':''" style="position:absolute;">
      <img src="https://www.worldmapsonline.com/images/giclee/satellite_image_maps/world_physical_pacific_giclee_lg.jpg" style="z-index:-1;position:absolute;" [height]="height" [width]="width">
      <div *ngFor="let base of appService.player.bases; let i = index" [ngStyle]="{'width': base.getRadarRange()*2+'px','height': base.getRadarRange()*2+'px', 'border-radius':base.getRadarRange()+'px','top':base.y+'px', 'left':base.x+'px'}" class="base">
        <img src="../../assets/xcomBase.png" (click)="clickTarget(base)" [routerLink]="isWaitingForTarget?[]:['/baseView', i]" class="baseIcon" [ngStyle]="{'margin-left':base.getRadarRange()+'px', 'margin-top':base.getRadarRange()+'px'}">
      </div>
      <div *ngFor="let ufo of appService.player.ufos; let i = index">
        <img src="../../assets/ufo.png" (click)="clickTarget(ufo)" style="position:absolute" [style.left]="ufo.x+'px'" [style.top]="ufo.y+'px'">
       </div>
       <div *ngFor="let interceptor of appService.player.getFlyingInterceptors(); let i = index">
        <img src="../../assets/xcomAircraft.png" (click)="clickTarget(interceptor)" style="position:absolute" [style.left]="interceptor.x+'px'" [style.top]="interceptor.y+'px'">
       </div>
       </div>
  </div>
</div>