<div class="row">
  <div class="col">
    <div class="btn-group" ngbDropdown>
      <button class="btn btn-outline-primary" [routerLink]="['/geoscape']">Geoscape</button>
      <button class="btn btn-outline-primary" [routerLink]="['/research']">Research</button>
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Bases</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbButton class="dropdown-item" *ngFor="let base of appService.player.bases; let i = index" [routerLink]="['/baseView', i]">{{base.name}}</button>
      </div>
    </div>
  </div>
  <iframe width="0" height="0" src="https://www.youtube.com/embed/ZAyzVA8Z9xI?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
</div>