<h2>{{base.name}}</h2>
<table id="baseFacilities">
  <tbody>
    <tr *ngFor="let y of [0,1,2,3,4]">
      <td *ngFor="let x of [0,1,2,3,4]">
        {{base.getFacilityAt(x,y)?.type}}
      </td>
    </tr>
  </tbody>
</table>
<table>
  <tbody>
    <tr>
      <td>Pop Max.</td>
      <td>{{base.getPopCap()}}</td>
    </tr>
    <tr>
      <td>Storage Max.</td>
      <td>{{base.getStorageCap()}}</td>
    </tr>
    <tr>
      <td>Science Max.</td>
      <td>{{base.getScienceCap()}}</td>
    </tr>
    <tr>
      <td>Manufacture Max.</td>
      <td>{{base.getManufactureCap()}}</td>
    </tr>
    <tr>
      <td>Radar Range</td>
      <td>{{base.getRadarRange() | number : '1.2-2'}} km.</td>
    </tr>
  </tbody>
</table>